@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


/*Text With Image Block*/
.textwithimage {
    background-color: white;
    padding-top: 100px;
    margin: auto;

    @media (max-width: 575px) { 
        max-width: 100% !important;
    }

    @media (min-width: 576px) { 
        max-width: 540px !important;
    }

    @media (min-width: 768px) { 
        max-width: 720px !important;
    }

    @media (min-width: 992px) {
        max-width: 960px !important;
    }

    @media (min-width: 1200px) { 
        max-width: 1140px !important;
    }

    @media (min-width: 1400px) {
        max-width: 1320px !important;
    } 

    &-container {
        &--flex {
            display: flex;
            justify-content: center;

            @media (max-width: 767px) { 
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &-column {
        &--50 {
            max-width: calc(50% - 30px);
            margin: 0 15px;

            @media (min-width: 576px) { 
                margin: 0 10px;
            }

            @media (max-width: 767px) { 
                max-width: calc(100% - 30px);
            }
        }

        &--text {
            margin-top: 73px;
            margin-bottom: 73px;
        }

        &--image {
            display: flex;
            align-content: flex-end;
            align-items: flex-end;
        }
    }

    &-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 52px;
        line-height: 58px;
        letter-spacing: -2px;
        color: #297FCA;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &-description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #297FCA;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 36px;
    }

    &-button {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #3FA2F7;
        text-decoration: none;
        max-width: 230px;
        height: 60px;

        &--icon {
            margin-right: 15.5px;
        }

        &--label {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: white;
        }
    }
}