@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
/*Text With Image Block*/
.textwithimage {
  background-color: white;
  padding-top: 100px;
  margin: auto;
}
@media (max-width: 575px) {
  .textwithimage {
    max-width: 100% !important;
  }
}
@media (min-width: 576px) {
  .textwithimage {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .textwithimage {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .textwithimage {
    max-width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .textwithimage {
    max-width: 1140px !important;
  }
}
@media (min-width: 1400px) {
  .textwithimage {
    max-width: 1320px !important;
  }
}
.textwithimage-container--flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .textwithimage-container--flex {
    flex-direction: column;
    align-items: center;
  }
}
.textwithimage-column--50 {
  max-width: calc(50% - 30px);
  margin: 0 15px;
}
@media (min-width: 576px) {
  .textwithimage-column--50 {
    margin: 0 10px;
  }
}
@media (max-width: 767px) {
  .textwithimage-column--50 {
    max-width: calc(100% - 30px);
  }
}
.textwithimage-column--text {
  margin-top: 73px;
  margin-bottom: 73px;
}
.textwithimage-column--image {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
}
.textwithimage-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 58px;
  letter-spacing: -2px;
  color: #297FCA;
  margin-top: 40px;
  margin-bottom: 20px;
}
.textwithimage-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #297FCA;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 36px;
}
.textwithimage-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #3FA2F7;
  text-decoration: none;
  max-width: 230px;
  height: 60px;
}
.textwithimage-button--icon {
  margin-right: 15.5px;
}
.textwithimage-button--label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: white;
}

/*# sourceMappingURL=text-with-image.css.map */
